<div *ngIf="topics">
  <ngx-wheel #wheel [width]='wheelSize' [height]='wheelSize' spinDuration='6.16' [idToLandOn]='result'
    [items]="topics" [disableSpinOnClick]="true"
    [innerRadius]='wheelSize/12' [spinAmount]='60' pointerStrokeColor='black' pointerFillColor='yellow'
    (click)='videoStart()' (onSpinComplete)='spinComplete()'>
  </ngx-wheel>
  <ng-container *ngIf="completed">
    <p>{{winner}}</p>
    <button (click)="reset()">jeszcze raz</button>
  </ng-container>
</div>
<div *ngIf="videoStarted && !completed" class="background">
  <video autoplay (timeupdate)="log($event)">
    <source src="/assets/uspinme.mp4" type="video/mp4">
  </video>
</div>