<div>
    <ng-container *ngIf="latestSelectedStream?.isOngoing; else noSelected">
        <a href="https://twitch.tv/dzejth" target="_blank">
            Dżej strimuje {{latestSelectedStream.gameName}}!!!
        </a>
        <img src="https://cdn.betterttv.net/emote/5d38aaa592fc550c2d5996b8/3x">
        <img src="assets/dzejtelman.png">
    </ng-container>
    <ng-template #noSelected>
        <ng-container *ngIf="selectedGameName && latestStream?.isOngoing">
            <a href="https://twitch.tv/dzejth" target="_blank">Dżej strimuje!</a>
            <p>Ale nie {{selectedGameName}}a, tylko {{latestStream.gameName}}.</p>
        </ng-container>
        <p>Ostatni strim {{selectedGameName ? 'z '+selectedGameName+'a' : ''}}
           odbył się {{timestamp$ | async}} temu.</p>
        <p class="uppercase">Dżej, kiedy {{ selectedGameName || 'strimek' }}??</p>
        <img src="assets/czwarta-zasada-strima.png">
    </ng-template>
</div>
